In [1]:

n = 5
for i in range(1,n+1,1):
    print( "*" * i)

*
**
***
****
*****

In [4]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [5]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [6]:

for row in range(7):
    for col in range(5):
        if (col==0)or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*
*
*
*****

In [7]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=6))or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [8]:

for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3 or row==6)and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

In [9]:

for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3) and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [10]:

for row in range(7):
    for col in range(6):
        if col==0 or (col==4 and (row!=1 and row!=2))or ((row==0 or row==6)and (col>0 and col<4))or (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [11]:

for row in range(7):
    for col in range(5):
        if col==0 or col==4 or (row==3 and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [12]:

for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3) and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [13]:

for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2) or (row==6 and col<2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
***

In [14]:
i=0
j=4
for row in range(7):
    for col in range(5):
        if col==0 or (row==col+2 and col>1):
            print("*",end="")
        elif((row==i and col==j) and col>0):
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [15]:

for row in range(7):
    for col in range(5):
        if col==0 or (row==6 and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
*****

In [16]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or ((row==col)and (col>0 and col<4))or (row==1 and col==5)or (row==2 and col==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [17]:

for row in range(6):
    for col in range(6):
        if col==0 or col==5 or (row==col and (col>0 and col<5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [18]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")

    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [19]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row==1 or row==2)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*

In [20]:

for row in range(8):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6)and (col>0 and col<4))or (row==5 and col==1)or (row==7 and col==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

In [21]:

for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row!=0 and row!=3)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
*   *

In [22]:
for row in range(7):
    for col in range(5):
        if((row==0 or row==3 or row==6) and (col>0 and col<4)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ***
    *
    *
 ***

In [23]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2):
            print("*",end="")
        else:
            print(end=" ")

    print()

*****
  *
  *
  *
  *
  *
  *

In [24]:
for row in range(5):
    for col in range(5):
        if col==2 or (row==0 and col!=2):
            print("*",end="")
        else:
            print(end=" ")

    print()

*****
  *
  *
  *
  *

In [25]:
for num in range(5):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [26]:

lastNumber = 7
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [27]:
print("Third Number Pattern")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

Third Number Pattern
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [28]:
# Heart shape Patterens 
#for row in range(6):
#    for col in range(7):
#        if(row ==0 and col%3!=0)or(row==1 and col%3==0)or(row-col==2)or(row+col==8):
#            print("*",end=' ')
#        else:
#            print(" ",end=' ')
#    print()

# Triangle
for row in range(3):
    for col in range(5):
        if(row==0 and col==2)or (row==1 and col%2!=0)or(row==2):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

    *
  *   *
* * * * *

In [30]:
# height of triangle
i = int(input("Enter no Rows:"))# Row Values
j = int(input("Enter no of columns:"))
for row in range(i):
    for col in range(j):
        if (row==0 and col==2)or(row==1 and col%2!=0)or(row==2):
            print('*',end='')
        else:
            print(" ",end='')
    print()

Enter no Rows: 3
Enter no of columns: 5

  *
 * *
*****

In [31]:
# Only  the Triangle frame

for row in range(6):
    for col  in  range(6):
        if col == 0 or row==5 or row ==col:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [32]:

j = 1
for i in range(1,11):
    print(i, '*',j,'=',i*j)
    j+=1

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [33]:
num = int(input("Enter the Number you want as a table"))
for i in range(1,11):
    print(num, '*',i,'=',i*num)

Enter the Number you want as a table 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30