# Arithmetic Operators

In [115]:
# Division

10/2

5.0

In [116]:
10//2

5

In [117]:
a=10
b=20

In [118]:
a+b

30

In [5]:
a-b

-10

In [6]:
a*b

200

In [7]:
a/b

0.5

In [8]:
a//b

0

In [9]:
a = 10.5
b = 2.5

In [10]:
a+b

13.0

In [11]:
a-b

8.0

In [12]:
a*b

26.25

In [13]:
a/b

4.2

In [14]:
c = 2j+3
s = 3j+2

In [15]:
a+s

(12.5+3j)

In [16]:
c+s

(5+5j)

In [17]:
c*3

(9+6j)

In [21]:
# division is possible in complex no

c/s

(0.9230769230769231-0.38461538461538464j)

In [22]:
# Floor division is not possible in floor division

c//s

TypeError: can't take floor of complex number.

In [23]:
# String

S = 'hi'
S_1 = 'hello'

In [24]:
S+S_1

'hihello'

In [25]:
S-S_1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [26]:
S/S_1

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [38]:
S//S_1

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [39]:
S*S_1

TypeError: can't multiply sequence by non-int of type 'str'

In [40]:
S%S_1

TypeError: not all arguments converted during string formatting

In [41]:
S**S_1

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [42]:
# Bool


b = True
b_1 = False

In [43]:
b+b_1

1

In [44]:
b-b_1

1

In [45]:
b*b_1

0

In [46]:
b/b_1

ZeroDivisionError: division by zero

In [47]:
b**b_1

1

In [48]:
b%b_1

ZeroDivisionError: integer division or modulo by zero

In [49]:
b//b_1

ZeroDivisionError: integer division or modulo by zero

In [50]:
# Assignment Operator

In [51]:
A = 10
B = 20

In [54]:
A+= B
A

30

In [55]:
A-=B
A

10

In [56]:
A*=B
A

200

In [57]:
A/=B
A

10.0

In [58]:
A%=B
A

10.0

In [59]:
A//=B
A

0.0

In [120]:
A = 3
A /= 4
A

0.75

In [122]:
A = 2
A *= 3
A

6

In [124]:
a= 2
a <<= 3
a

16

In [127]:
a = 5
a >>=3
a

0

In [131]:
a = 2
a &=3
a

2

In [132]:
a=1
a &=2
a

0

In [133]:
a=2
a |=4
a

6

In [134]:
a=2
a ^=4 
a

6

In [60]:
# Do Assignment in mixed variables

In [64]:
# Logical Operator

In [65]:
A = 10
B = 20

In [66]:
A and B

20

In [67]:
B and A

10

In [68]:
A or B

10

In [69]:
B or A

20

In [72]:
not A

False

In [73]:
not B

False

In [74]:
A = 10
B = 10.5

In [75]:
A and B

10.5

In [76]:
B and A

10

In [77]:
A or B

10

In [78]:
B or A

10.5

In [79]:
not A

False

In [80]:
not B

False

In [82]:
# Comparison Operators
"""
== 
<=
>=
<
>
!=

"""

'\n== \n<=\n>=\n<\n>\n!=\n\n'

In [83]:
a = 10
b = 20

In [84]:
a == b

False

In [86]:
a != b

True

In [87]:
b != a

True

In [88]:
a <= b

True

In [89]:
a >= b

False

In [90]:
a < b

True

In [91]:
b >a

True

In [92]:
"Hi" == "Hello"

False

In [94]:
"Hi" != "Hello"

True

In [95]:
a = 10
b = 10.5

In [96]:
a == b

False

In [97]:
b != a

True

In [98]:
a = 2+2j
b = 1+3j

In [100]:
a == a

True

In [102]:
a == b

False

In [103]:
a != b

True

In [105]:
# Special Operators

"""Two types of Special Operators
1) Identity
2) Membership
"""

'Two types of Special Operators\n1) Identity\n2) Membership\n'

In [106]:
# Membership operator will check the memership is present are not

# Identity is , is not

In [107]:
a = "hello"

'H' in a

False

In [108]:
'h' in a

True

In [109]:
"Hi" in a

False

In [110]:
"hi" not in a

True

In [111]:
a = 10
b = 20
10 is 20

False

In [112]:
20 is 10

False

In [113]:


# Binary numbering system
# Hexa decimal
# Ones compliment
# 2's compliment

In [135]:
x1 = 10
y1 = 10
x2 = "Hi"
y2 = "Hi"

In [137]:
x1 is not y1

False

In [138]:
x2 is not y2

False

In [139]:
x1 is y1

True

In [140]:
x1 is not y2

True

In [141]:
x2 is y2

True

In [145]:
x = "Hello Nethra"
y = [1,2,3,4,5]

'H' in x

True

In [146]:
'Nethra' in x

True

In [147]:
'Hi' not in x

True

In [148]:
10 in y

False

In [149]:
# Doubt

## Output: False
print('a' in y)
print(x.capitalize(),x.upper(),x.lower(),x.replace("e","a"),x.split(),x.strip(),x.casefold())
print(max(x))
print(min(x))

False
Hello nethra HELLO NETHRA hello nethra Hallo Nathra ['Hello', 'Nethra'] Hello Nethra hello nethra
t