In [3]:
print("Hello World")

Hello World

In [4]:
A = 10

In [5]:
A

10

In [6]:
Box=10.2569

In [7]:
Box

10.2569

In [9]:
Job=2j+3

In [10]:
print(Job)

(3+2j)


Variable

In [1]:
i = 10

In [2]:
type(i)

int

In [3]:
f=10.23

In [4]:
type(f)

float

In [5]:
c=2j+3

In [6]:
type(c)

complex

In [7]:
a="HI"

In [8]:
type(a)

str

In [10]:
float(f)

10.23

In [11]:
int(f)

10

In [12]:
complex(f)

(10.23+0j)

In [13]:
str(f)

'10.23'

In [15]:
str(c)

'(3+2j)'

In [16]:
bool(c)

True

In [17]:
s="Hi"

In [18]:
float(s)

ValueError: could not convert string to float: 'Hi'

In [19]:
int(s)

ValueError: invalid literal for int() with base 10: 'Hi'

In [20]:
complex(s)

ValueError: complex() arg is a malformed string

In [21]:
bool(s)

True

In [22]:
b=True

In [23]:
b

True

In [24]:
float(b)

1.0

In [25]:
int(b)

1

In [26]:
complex(b)

(1+0j)

In [27]:
s_1='i'

In [28]:
int(s_1)

ValueError: invalid literal for int() with base 10: 'i'

In [29]:
float(s_1)

ValueError: could not convert string to float: 'i'

In [30]:
bool(s_1)

True

In [31]:
b_1=False

In [32]:
int(b_1)

0

In [33]:
float(b_1)

0.0

In [34]:
complex(b_1)

0j

In [35]:
t_1='1'

int(t_1)

In [37]:
float(t_1)

1.0

In [38]:
complex(t_1)

(1+0j)

Type Casting

In [40]:
#Converting a data from  one type to another

In [41]:
# Variable, int, float, str, bool,complex

In [42]:
se='Hello'

In [43]:
s_1='hello'

In [44]:
t="Hello world's welcoming you"

In [45]:
t

"Hello world's welcoming you"

In [46]:
type(t)

str

In [47]:
id(se)

1797411919384

In [48]:
id(t)

1797411928624

In [49]:
id(s_1)

1797411918768

In [50]:
# Writting a string

Str= 'Hello World'

In [52]:
Str

'Hello World'

In [53]:
print(Str) #this is an output fuction  we called as STDOUT

Hello World

In [54]:
S="""Hello World
Welsome to 
Python Class in ITrain  TEchnology"""

In [55]:
S

'Hello World\nWelsome to \nPython Class in ITrain  TEchnology'

In [58]:
S_1 = '''Python is a Easy to learn

Python We have Zen of python by Tim peter
Python Is Vast Growing as well as Large Community'''

In [59]:
S_1

'Python is a Easy to learn\n\nPython We have Zen of python by Tim peter\nPython Is Vast Growing as well as Large Community'

In [60]:
S="Hellow World \tWelcome to \'Python\nClass\v in Itrain"

In [61]:
S

"Hellow World \tWelcome to 'Python\nClass\x0b in Itrain"

In [62]:
print(S)

Hellow World 	Welcome to 'Python
Class in Itrain

In [63]:
Sen="Hello World"

In [64]:
Sen[0]

'H'

In [65]:
Sen[1]

'e'

In [66]:
Sen[2]

'l'

In [67]:
Sen[-1]

'd'

In [68]:
Sen[-10]

'e'

In [69]:
Sen[-11]

'H'

In [70]:
Sen[-10]

'e'

In [71]:
Sen[0],Sen[-11]

('H', 'H')

In [72]:
Sen[1],Sen[-10]

('e', 'e')

In [73]:
del Sen[-1]

TypeError: 'str' object doesn't support item deletion

In [74]:
# del is a keyword to delete the variable (it will delete the variable name and its address from the memory as well)

In [75]:
abby="sdkek"

In [76]:
print(abby)

sdkek

In [77]:
del abby

In [78]:
print(abby)

NameError: name 'abby' is not defined

In [79]:
S

"Hellow World \tWelcome to 'Python\nClass\x0b in Itrain"

In [83]:
# method to find  the length of the S

len(S)

49

In [85]:
# method to find a particular character in a string

S.find('to')

22

In [89]:
# Slicing


Sen

Sen[0:2] # Positive Slicing

'He'

In [90]:
Sen[0:5]

'Hello'

In [91]:
S = "Hello World"

In [92]:
S[-3:]

'rld'

In [93]:
S[-5:-2]

'Wor'

In [95]:
S[6:9]

'Wor'

In [96]:
S[:]

'Hello World'

In [97]:
S[0:]

'Hello World'

In [98]:
S[:-1]

'Hello Worl'

In [99]:
S[:0]

''

In [100]:
S[:]

'Hello World'

In [111]:
M="Michael Jackson"

In [112]:
M[0:100:]

'Michael Jackson'

In [113]:
M[0:100:2]

'McalJcsn'

In [114]:
M[0:100:3]

'Mhlas'

In [115]:
S

'Hello World'

In [116]:
S[0:100:]

'Hello World'

In [117]:
S[0:100:2]

'HloWrd'

In [118]:
S[0:100:3]

'HlWl'

In [119]:
M[12:16]

'son'

In [120]:
# Building Funtions of Python

"""input(), len(), id(),help(),exit(),type(),print()"""

'input(), len(), id(),help(),exit(),type(),print()'

In [122]:
Ne = input("Enter your Name")  # by Default input function will consider it as a srting

print(Ne,type(Ne))

Enter your Name Nethra

Nethra <class 'str'>

In [123]:
len(Ne)

6

In [128]:
Name = "michael jackson"

In [129]:
len(Name)

15

In [130]:
ord('M')

77

In [136]:
chr(77)

'M'

In [137]:
Name[::-1]

'noskcaj leahcim'

In [138]:
Name[-3::]

'son'

In [139]:
Name[::14]

'mn'

In [140]:
Name[0:5:2]

'mca'

Concatenate Strings

In [142]:
Statement = Name + "is the best"
Statement

'michael jacksonis the best'

In [144]:
Name[:7]+ " is Best in dance"

'michael is Best in dance'

In [147]:
#Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [148]:


# Tab escape sequence

print("Michael jackson \t is the best")

Michael jackson 	 is the best

In [149]:
a = "Hello\t world"

In [151]:
a.expandtabs(20)

'Hello                world'

In [152]:
# Hex Decimal Values

print("This is \x48\x45\x58 representation")

This is HEX representation

In [154]:
# r will tell python that string will be displaying as raw string

print(r"michael jackson \ is the best")

michael jackson \ is the best

In [155]:
print("michael jackson \ is the best")

michael jackson \ is the best

In [156]:
"Hello World Welsome to  python  class's"

"Hello World Welsome to  python  class's"

In [159]:
#2 ways to concatenate string

pi = 3.14
print("Pi value in math is", pi)
print("Pi value is: " + str(pi))

Pi value in math is 3.14
Pi value is: 3.14

In [161]:
str(pi)

'3.14'

In [171]:
# Map method

a,b = map(int,input("Enter the Data").split(' '))

Enter the Data 10 20

In [172]:
a

10

In [173]:
b

20

In [174]:
"Hello World  Welcome to python Class".split(' ')

['Hello', 'World', '', 'Welcome', 'to', 'python', 'Class']

In [175]:
# String Operations

In [176]:
# Operations in String

# Converting lower to all upper case

A = "Thriller is the sixth Studio Album"
print("before upper:", A)

before upper: Thriller is the sixth Studio Album

In [179]:
B = A.upper()

In [180]:
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [181]:
# Replace Method

In [182]:
A = "Michael Jackson is the best Michael"
B = A.replace("Michael", 'Janet')

In [183]:
B

'Janet Jackson is the best Janet'

In [184]:
a = 'Python'
a.replace('P', 'c')

'cython'

In [185]:
# How to find a particular Character or a word

Name.find('Jack')

-1

In [186]:
Name.find('el')

5

In [188]:
# If cannot find the substring in the string

Name.find('python')

-1

In [189]:
Name.startswith('m')

True

In [191]:
Name.startswith('M')

False

In [193]:
Name.endswith('N')

False

In [195]:
Name.index('m')

0

In [200]:
# format method

e = input("Enter the Name:")
'Hi {}'.format(e)

Enter the Name: Nethra

'Hi Nethra'

In [201]:
Name.index("jackson")

8

In [202]:
print("The {} Best Singer Name is {} ".format(A,Name))

The Michael Jackson is the best Michael Best Singer Name is michael jackson

In [203]:
print("The Left Alignment is |{0:<6}| and Center Alignment is |{1:^5}| and Right Alignment is |{2:>5}|".format(10,10,10))

The Left Alignment is |10    | and Center Alignment is | 10  | and Right Alignment is |   10|

In [204]:
"The Binary Number is |{0:b}| and Oct is |{0:o}| and Hex is |{2:x}|".format(2,10,10)

'The Binary Number is |10| and Oct is |2| and Hex is |a|'

In [205]:
'{0!s} {0!r}'.format("Hello World")

"Hello World 'Hello World'"

In [207]:
'{:10}'.format("test")

'test      '

In [209]:
'{:<10}'.format("test")

'test      '

In [210]:
'{:<10}'.format("test")

'test      '

In [211]:
'{:_<10}'.format("test")

'test______'

In [212]:
'{:_^8}'.format("ZIP")

'__ZIP___'

In [213]:
'%.6s' %('xylophone') # Old Technique

'xyloph'

In [217]:
'{:.1}'.format('xylophone')

'x'

In [218]:
# Numbers for formatting

In [220]:
'{:d}'.format(42)

'42'

In [222]:
'{:3d}'.format(3,25)

'  3'

In [223]:
'{:07.3f}'.format(3.25)

'003.250'

In [224]:
Name.lower()

'michael jackson'

In [226]:
Name.center(25)

'     michael jackson     '

In [228]:
Name.split(' ')

['michael', 'jackson']