In [1]:
# Frozen Set gives the output always in the ascending order
# It accepts duplicates

a = frozenset([10,20,30,40,50])

a

frozenset({10, 20, 30, 40, 50})

In [2]:
b= frozenset([10,10,20,20,4,0])

b

frozenset({0, 4, 10, 20})

In [3]:
frozenset({0,4,10,20,30})
b.difference(a)

frozenset({0, 4})

In [4]:
a.difference(b)

frozenset({30, 40, 50})

In [5]:
Set = set(range(25,30))
Set

{25, 26, 27, 28, 29}

In [6]:
F_Set = frozenset(Set)
F_Set

frozenset({25, 26, 27, 28, 29})

In [7]:
tu = tuple(range(30,35))
tu

(30, 31, 32, 33, 34)

In [9]:
t_set = set(tu)
t_set

{30, 31, 32, 33, 34}

In [10]:

set_set = frozenset(t_set)

set_set

frozenset({30, 31, 32, 33, 34})

In [11]:
a.intersection(b)

frozenset({10, 20})

In [12]:
a.isdisjoint(b)

False

In [13]:
b.isdisjoint(a)

False

In [14]:
{10}.isdisjoint(a)

False

In [15]:
{20}.isdisjoint(b)

False

In [16]:
a.issubset(b)

False

In [17]:
{10}.issubset(b)

True

In [18]:
{10}.issuperset(b)

False

In [19]:
A = frozenset({1,2,3,4})
B = frozenset({5,6,7})
C = frozenset({4,5,6})

In [20]:
A

frozenset({1, 2, 3, 4})

In [21]:
B

frozenset({5, 6, 7})

In [22]:
C

frozenset({4, 5, 6})

In [23]:
A.isdisjoint(B)

True

In [24]:
A.isdisjoint(C)

False

In [25]:
A.symmetric_difference(B)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [26]:
A.union(B)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [27]:
A

frozenset({1, 2, 3, 4})

In [28]:
B

frozenset({5, 6, 7})

In [29]:
A.symmetric_difference(C)

frozenset({1, 2, 3, 5, 6})

In [30]:
C

frozenset({4, 5, 6})

In [31]:
Arr = bytearray({4,5,6})
Arr

bytearray(b'\x04\x05\x06')

In [32]:
bytearray(10)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [33]:
tupi = (10,2,3,7)

In [34]:
tupi

(10, 2, 3, 7)

In [35]:
bytearray(tupi)

bytearray(b'\n\x02\x03\x07')

In [36]:
bytearray(255)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [37]:
lis = [1,3,4,19,10]
lis

[1, 3, 4, 19, 10]

In [41]:
tupi = tuple(lis)

In [42]:
tupi

(1, 3, 4, 19, 10)

In [43]:
sete = set(tupi)
sete

{1, 3, 4, 10, 19}

In [44]:
froze = frozenset(sete)

In [45]:
froze

frozenset({1, 3, 4, 10, 19})

In [46]:
dictu = frozenset(dict)
dictu

TypeError: 'type' object is not iterable

In [50]:
A = [[10,20,30,35],[5.5,6.6,7.5,8.5],["hi", "hello","heya"],[3+2j, 1+4j],[True, False]]

In [52]:
A

[[10, 20, 30, 35],
 [5.5, 6.6, 7.5, 8.5],
 ['hi', 'hello', 'heya'],
 [(3+2j), (1+4j)],
 [True, False]]

In [54]:
X = A[1]

In [55]:
X[1]

6.6

In [56]:
X[-3]

6.6

In [57]:
import numpy as np
import pandas as  pd

In [59]:
df = pd.DataFrame({'Product':['Milks','Cookies','Eggs','Bread'],
                        'Stocks':[20,30,10,3],
                        'Cost':[25,10,5,30]})

In [64]:
df

   Product  Stocks  Cost
0    Milks      20    25
1  Cookies      30    10
2     Eggs      10     5
3    Bread       3    30

In [68]:
#countplot

In [69]:
type(df)

pandas.core.frame.DataFrame

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Product    4 non-null object
Stocks     4 non-null int64
Cost       4 non-null int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes