In [1]:
# Data Structure Tuple

In [2]:

# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [3]:
tu=10,20,30,40

In [4]:
tu

(10, 20, 30, 40)

In [5]:
type(tu)

tuple

In [6]:
tu_1=(1,2,3,4,5,"hi")

In [7]:
tu_1

(1, 2, 3, 4, 5, 'hi')

In [8]:
type(tu_1)

tuple

In [9]:
tu_1[2]

3

In [10]:
tu_1[2]='Hello'

TypeError: 'tuple' object does not support item assignment

In [12]:
tu_1.extend(30)

AttributeError: 'tuple' object has no attribute 'extend'

In [13]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [14]:

# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [15]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [16]:

# Get the length of tuple

len(tuple2)

5

In [17]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [18]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [19]:

# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [20]:
li=[10,30,20,4.5]

In [21]:
li

[10, 30, 20, 4.5]

In [22]:
type(li)

list

In [23]:
sorte = sorted(li)

In [24]:
sorte

[4.5, 10, 20, 30]

In [25]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [26]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [27]:
# Print the first element in the second nested tuples
    
NestedT[2][1][0]

'r'

In [28]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [29]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [30]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2