In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "R&B", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
album_list = ["Michael Jackson", "Thriller", 1982, "00.42.19","Pop,Rock, R&B", 46.0,65,"30-Nov-82", None, 10.0]

album_list

['Michael Jackson',
 'Thriller',
 1982,
 '00.42.19',
 'Pop,Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

In [3]:
album_set = set(album_list)
album_set

{'00.42.19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop,Rock, R&B',
 'Thriller'}

In [5]:
# Convert list to set

music_genres = set(["pop", "pop","rock", "folk rock", "hard rock", "soul",\
                   "progressive rock", "soft rock" , "R&B", "disco"])

music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [6]:
#Set Operations

In [7]:
# Samplle set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [8]:
# Add element to set

A.add("NYSC")
A

{'AC/DC', 'Back in Black', 'NYSC', 'Thriller'}

In [9]:
# Try to add duplicate element to the set

A.add("NYSC")
A

{'AC/DC', 'Back in Black', 'NYSC', 'Thriller'}

In [10]:
A.update(['apple','banana','apple'])

In [11]:
A

{'AC/DC', 'Back in Black', 'NYSC', 'Thriller', 'apple', 'banana'}

In [12]:
# Remove the element from set

A.remove("NYSC")

In [13]:
A

{'AC/DC', 'Back in Black', 'Thriller', 'apple', 'banana'}

In [14]:
A.discard('NYSC')
A

{'AC/DC', 'Back in Black', 'Thriller', 'apple', 'banana'}

In [15]:
A

{'AC/DC', 'Back in Black', 'Thriller', 'apple', 'banana'}

In [16]:
# verify if the element is in the set

"AC/DC" in A

True

In [22]:
# Intersections

# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [23]:
# print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [24]:
len(album_set1)

3

In [25]:
# Find the intersection

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [26]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [27]:
Set1 = {'Apple', 'Banana', 'Graph', 'Chery',4.5}
Set2 = {'Apple',24,25,2j+3,3,4.5}

In [28]:
Set1.intersection(Set2)

{4.5, 'Apple'}

In [30]:
Set1.intersection_update(Set2)
Set1

{4.5, 'Apple'}

In [31]:
Set1

{4.5, 'Apple'}

In [32]:
# Finding the difference

album_set1.difference(album_set2)

{'Thriller'}

In [33]:
# Finding the difference

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [34]:
Set1 = {'Apple', 'Banana', 'Graph', 'Cherry',4.5}
Set2 = {'Apple',24,25,2j+3,4.5}
Set1.difference(Set2)

{'Banana', 'Cherry', 'Graph'}

In [35]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [36]:
# Union 

# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [37]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [38]:
set(album_set2).issuperset(album_set1)

False

In [39]:
# Check if superset

album_set1.issuperset({'Back in Black', 'AC/DC'})

True

In [40]:
Set1.add('Apple')
Set1

{4.5, 'Apple', 'Banana', 'Cherry', 'Graph'}

In [41]:
Set2

{(3+2j), 24, 25, 4.5, 'Apple'}

In [42]:
Set1.add('Apple')
Set1

{4.5, 'Apple', 'Banana', 'Cherry', 'Graph'}

In [43]:
Set1 in Set2

False

In [44]:
Set1 not in Set2

True

In [45]:
Set1

{4.5, 'Apple', 'Banana', 'Cherry', 'Graph'}

In [46]:
Set2

{(3+2j), 24, 25, 4.5, 'Apple'}

In [48]:
Set1.symmetric_difference(Set2)

{(3+2j), 24, 25, 'Banana', 'Cherry', 'Graph'}

In [49]:
Set1.symmetric_difference(Set2)

{(3+2j), 24, 25, 'Banana', 'Cherry', 'Graph'}

In [50]:
Set1.symmetric_difference_update(Set2)

In [51]:
Set1

{(3+2j), 24, 25, 'Banana', 'Cherry', 'Graph'}

In [52]:
Set1.copy()

{(3+2j), 24, 25, 'Banana', 'Cherry', 'Graph'}

In [53]:
Set1.clear()

In [54]:
Set1

set()