In [3]:
# LISTS

a = [10,20.5,2j+3,'hello',True,10,2.5,'Hello']

In [4]:
a

[10, 20.5, (3+2j), 'hello', True, 10, 2.5, 'Hello']

In [5]:
a[0]

10

In [6]:
a[1]

20.5

In [7]:
a[3]

'hello'

In [9]:
a[4]

True

In [10]:
a[5]

10

In [11]:
a[3]

'hello'

In [12]:
a[7]

'Hello'

In [13]:
a[6]

2.5

In [14]:
a[1:5]

[20.5, (3+2j), 'hello', True]

In [15]:
# Replacing an  element by indexing

a[2:5]

[(3+2j), 'hello', True]

In [16]:
a[2:5] = 10,20,30

In [17]:
a

[10, 20.5, 10, 20, 30, 10, 2.5, 'Hello']

In [18]:
a[1]

20.5

In [19]:
a[1]='Hiya'

In [20]:
a

[10, 'Hiya', 10, 20, 30, 10, 2.5, 'Hello']

In [21]:
a[0::2]

[10, 10, 30, 2.5]

In [22]:
a

[10, 'Hiya', 10, 20, 30, 10, 2.5, 'Hello']

In [23]:
a[0::2]='hi',True,False,'Data'

In [24]:
a

['hi', 'Hiya', True, 20, False, 10, 'Data', 'Hello']

# Advance Lists Operations

In [25]:
# append()
# extend()
#insert()

In [26]:
b = []

In [27]:
b

[]

In [28]:
a.append(11)

In [29]:
a

['hi', 'Hiya', True, 20, False, 10, 'Data', 'Hello', 11]

In [30]:
b.append(10)

In [31]:
b

[10]

In [32]:
b.append([10,20])

In [33]:
b

[10, [10, 20]]

In [34]:
b.extend([2.5,3.5,6.5,8.8])

In [35]:
b

[10, [10, 20], 2.5, 3.5, 6.5, 8.8]

In [38]:
b.append(20)

In [39]:
# append method accepts only one element at a time to add, when it requires to add more than 2 element use extend

b.append(12,13)

TypeError: append() takes exactly one argument (2 given)

In [40]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in  range(0,5):
    print("Before square ", i, 'is', squares[i])
    
    squares[i] = 'weight'
    print("After square ", i, 'is', squares[i])
print(squares)

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight
['weight', 'weight', 'weight', 'weight', 'weight']

In [41]:
squares

['weight', 'weight', 'weight', 'weight', 'weight']

In [42]:
for i in squares:
    print(i)

weight
weight
weight
weight
weight

In [43]:
# List comprehension

[i for i in  squares]

['weight', 'weight', 'weight', 'weight', 'weight']

In [44]:
# Loop through the list and iterate on both index and element vale

squares=['red','yellow','green','purple','blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [45]:
for i in range(5):
    pass
print(i)

4

In [46]:
for i in squares:
    pass
print(i)

blue

In [49]:
# Print the pattern of L

i = int(input("Enter theNo of Rows:"))
j = int(input("Enter the no of Col:"))
for row in  range(i):
    for col in range(j):
        if col==0 or row==5:
            print('*',end= ' ')
        else:
            print(" ",end= ' ')
    print()

Enter theNo of Rows: 6
Enter the no of Col: 5

*
*
*
*
*
* * * * *

In [1]:
# Refer the Loops in Git

In [2]:

# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [3]:

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [4]:

# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [5]:

# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [6]:

# List slicing

L[3:5]

['MJ', 1]

In [7]:
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [8]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [9]:

# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [10]:

# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [11]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [12]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [13]:

# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [14]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [15]:

# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [16]:
"Nethra".split(',')

['Nethra']

In [17]:
'N,e,t,h,r,a'.split(',')

['N', 'e', 't', 'h', 'r', 'a']

In [18]:
'you,are,the,best'.split(',')

['you', 'are', 'the', 'best']

In [19]:

# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [20]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [21]:
# Clone (clone by value) the list A

How to create to list?

In [22]:
# empty list
a  = []
print(type(a),a,"Empty list")
# list of integers
int_list = [1, 2, 3]
print(int_list)

# list with mixed datatypes
mixed_list = [1, "Hello", 3.4, 2j+3j+3]
print(mixed_list)

<class 'list'> [] Empty list
[1, 2, 3]
[1, 'Hello', 3.4, (3+5j)]

In [23]:
# nested list
nested_list = ["mouse", [8, 4, 6], ['a']]
print(nested_list)

['mouse', [8, 4, 6], ['a']]

In [24]:
my_list = ['p','y','t','h','o','n' "hello"]

print(my_list[0])
print(my_list[-1])

# Output: t
print(my_list[2])

# Output: o
print(my_list[4])
print(my_list[1:5])

# Error! Only integer can be used for indexing
# my_list[4.0]

# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

# Output: a
print(n_list[0][1])    

# Output: 5
print(n_list[1][3])

p
nhello
t
o
['y', 't', 'h', 'o']
a
5

In [25]:

my_list = ['p','r','o','b','e']

# Output: e
print(my_list[-1])

# Output: p
print(my_list[-5])

e
p